/**
 * @name Comfy-theme
 * @author Nyria#0001
 * @description A simple customisable comfy theme
 * @version 1.0.0
 */

@import "https://nyri4.github.io/Comfy/main.css";


/* User popout animation - Delete until "Others settings" if you don't want it */
.headerPlaying-j0WQBV.header-2BwW8b, .headerSpotify-zpWxgT.header-2BwW8b, .headerStreaming-2FjmGz.header-2BwW8b, .headerXbox-3G-4PF.header-2BwW8b { padding-bottom: 30px;}
.headerPlaying-j0WQBV.header-2BwW8b:after, .headerSpotify-zpWxgT.header-2BwW8b:after, .headerStreaming-2FjmGz.header-2BwW8b:after, .headerXbox-3G-4PF.header-2BwW8b:after { background: url('https://nyri4.github.io/Comfy/assets/wave.png'); background-size: 250px 20px; animation: animate 6s linear infinite !important; opacity: 1 !important;}
.header-2BwW8b:after, .headerPlaying-j0WQBV:before, .headerSpotify-zpWxgT:before, .headerStreaming-2FjmGz:before, .headerXbox-3G-4PF:before { 
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0;
    width: 250px;
    height: 20px;
    z-index: -1;
    animation: animate2 6s linear infinite;
    animation-delay: 0s;
    opacity: 0.5;
}
.headerPlaying-j0WQBV:before { background: url('https://nyri4.github.io/Comfy/assets/wave_playing.png'); background-size: 250px 20px;}
.headerSpotify-zpWxgT:before { background: url('https://nyri4.github.io/Comfy/assets/wave_spotify.png'); background-size: 250px 20px;}
.headerStreaming-2FjmGz:before { background: url('https://nyri4.github.io/Comfy/assets/wave_streaming.png'); background-size: 250px 20px;}
.headerXbox-3G-4PF:before { background: url('https://nyri4.github.io/Comfy/assets/wave_xbox.png'); background-size: 250px 20px;}
@keyframes animate { 0% { background-position-x: 0;} 100% { background-position-x: 250px;}}
@keyframes animate2 {0% { background-position-x: 250px; } 100% { background-position-x: 0px;}}

/* Comfy Spotify version -> Delete until Spotify if you don't want it */
.container-6sXIoE{position: fixed;transition: left 0.5s;bottom: 62px;left: -196px;z-index: 3;width: 265px;background: var(--background-secondary-alt);border-radius: 0 5px 5px 0;border-bottom: none !important;}.barText-lmqc5O { display: none !important;}.container-6sXIoE > .inner-WRV6k5 { flex-direction: row-reverse;}.inner-WRV6k5 > .flex-1xMQg5 > .button-14-BFJ { margin: 0;}.container-6sXIoE:hover { left: 0px;}

/* Better Spotify seek bar */
.bar-g2ZMIm {position: absolute !important;left: -2px !important;bottom: -4px !important;width: 267px !important;height: 58px !important;-webkit-mask-image: linear-gradient(0.25turn, #0009, #0003);mask-image: linear-gradient(0.25turn, #0009, #0003);}.maximized-vv2Wr0 > .timeline-UWmgAx > .bar-g2ZMIm { height: 84px !important; }.barFill-Dhkah7, .timeline-UWmgAx:hover .barFill-Dhkah7 { background: var(--spotify-color) !important;}.inner-WRV6k5 { z-index: 1 !important;}.grabber-7sd5f5 { display: none !important;}.button-14-BFJ:hover { background: none !important;}.container-6sXIoE:not(.maximized-vv2Wr0) > .inner-WRV6k5 > .coverWrapper-YAplwJ { margin-right: 1px !important; margin-left:25px !important;width: 40px !important;height: 40px !important;}

/* Avatar mask - Delete it if you want to see your status */
.avatar-SmRMf2 > svg > foreignObject { mask: none; border-radius: var(--avatar-radius);}
/*.avatar-SmRMf2 > svg > rect, .avatar-SmRMf2 > svg > svg > rect { opacity: 0; pointer-events: none;}*/


:root { 
 
	--avatar-radius: 40%; /* Avatar roundess - You can't use it if you deleted the 2 lines of Avatar mask */

	/* Avatar width in modals */
	--avatar-width: 150px;

	/* Server roundess */
	--server-radius: 25px;

	/* Colored emoji picker */
	--colored-emoji: grayscale(0%); /* Change the value to "100%" if you want the basic one */

	/* -- Others settings -- */

	/* Mention color */
	--mention-color-bar: #C66262;
	--mention-color-background: #c662621f;
	--mention-color-hover: #c6626226;

	/* Spotify seek bar color */
	--spotify-color: #8ec16a !important;

    /* -- Others settings -- */
 
    /* User settings color (Mute, Deafen and settings) */
    --user-buttons-color: #e0e4e9;

    /* User settings spacing */
    --user-buttons-spacing: 10px;

    /* Chat buttons color */
    --chat-buttons: #096dc0;
 
     /* Circles next to role names */
     --role-circle: 7px; /* Set it to "0px" if u don't want circles */
 
     /* Tooltips (Example : https://i.ibb.co/hDSQtqw/Capture.png) */
     --tooltips: block; /* Set it to "none" if u don't want it */

     /* Separators */
     --separators: none; /* Set it to "block" if u want it */
 
     /* Discord logo */
     --discord-logo: none; /* Set it to "block" if u want it */
 
 } 

.theme-dark {
    --background-tertiary: #252a32 !important;
    --background-secondary: #191e23 !important;
    --background-secondary-alt: #0f1419 !important;
    --background-primary: #0f1419 !important;
    --channeltextarea-background: #252a32 !important;
    --background-accent: #252a32 !important;
    --background-modifier-hover: #252a32 !important;
    --background-modifier-active: #0f1419 !important;
    --background-modifier-selected: #252a32 !important;
    --deprecated-card-bg: #12141f63 !important;
    --background-floating: #101320 !important;
    --deprecated-quickswitcher-input-background:#101320 !important;
    --scrollbar-auto-thumb: #252a32 !important;
    --scrollbar-auto-track: #191e23 !important;
    --scrollbar-thin-thumb: #252a32 !important;
    --spotify-color: #8ec16a !important;
    --elevation-low: none;
}

.theme-light {
    --background-tertiary: #101320 !important;
    --background-secondary: #1e2233 !important;
    --background-secondary-alt: #191f2e !important;
    --background-primary: #23283d !important;
    --header-primary: #fff !important;
    --header-secondary: #b1b5b9 !important;
    --text-normal: #8e9297 !important;
    --scrollbar-thin-thumb: #141925 !important;
}
